/* color: #9B2B2B */

.bg-pelis{
    background-color: #9B2B2B;
}

.btn-pelis{
    background-color: #9B2B2B;
    color: white;
}

.btn-pelis:hover{
    background-color: #9B2B2B;
    color: rgba(255, 255, 255, 0.427);
}

.card-header-pelis{
    background-color: #9B2B2B;
    color: white;
    padding: 1rem 0rem 0.5rem 0rem;
}

.img-top-card{
    margin: 0px auto;
}

.navbar-brand{
    font-size: 0.8rem;
}

h1{
    color: #9B2B2B;
}

ul.pagination{
    justify-content: center;
}

ul.pagination .page-item.active .page-link{
    background-color: #9B2B2B;
    border-color: #9B2B2B;
    color: rgba(255, 255, 255, 0.8);
}

ul.pagination .page-item .page-link{
    color: #9B2B2B;
}